/*==========================================================================
1.0 DEFAUL SETTING
========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:ital@1&family=Montserrat:wght@500;800&display=swap");

html {
  scroll-behavior: smooth;
}

li::marker {
  color: transparent;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: 600;
  font-family: "Inria Serif", serif;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-style: normal;
  font-weight: 400;
  color: #363434;
  font-size: 16px;
  line-height: 30px;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1320px !important;
  width: 100% !important;
}

section {
  overflow: hidden;
}

/* Header CSS */

.header {
  width: 100%;
  z-index: 2;
  top: 10px;
  position: absolute;
  padding: 7px 0;
  display: block;
  left: 50%;
  transform: translateX(-50%);
}

.logo span {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}

.logo {
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  text-align: left;
}

.main_btn a {
  background: #fff;
  color: #662e8d;
  padding: 12px 33px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
}

.main_btn {
  transition: all 0.3s ease-in-out;
}

.main_btn:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-5px);
}

.fill_btn a img {
  max-width: 18px;
  margin-left: 5px;
}

a:hover {
  color: #fff !important;
}

.fill_btn a {
  background: #000;
  color: #fff;
  padding: 12px 33px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
}

.fill_btn {
  transition: all 0.3s ease-in-out;
}

.fill_btn:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-5px);
}

.transparent_btn a {
  border: 1px solid #000;
  color: #000;
  padding: 12px 33px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
}


  .second_banner_wrapper {
    position: relative;
    z-index: 0;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    align-items: center;
}


.second_banner_wrapper:after {
  content: "";
  background-image: linear-gradient(90deg, #049e9e 30%, #662e8d82 90%);
  opacity: 0.96;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.form-wizard {
  position: relative;
  display: table;
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}

.wizard_right_content {
  height: 100%;
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  background: #0000004a;
  border: 1px solid #ffffff85;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wizard_right_detail {
  border: 1px solid #ffffff33;
  padding: 35px;
  margin: 0;
  border-radius: 30px 0px 30px 0px;
}

.wizard_right_content img {
  max-width: 200px;
  border-radius: 10px;
}

.wizard_right_content h4 {
  font-weight: 600;
  color: #fff;
  font-size: 21px;
  margin-top: 12px;
  margin-bottom: 15px;
  position: relative;
}

.wizard_right_content h4:after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffffc9;
  width: 60%;
  height: 1.5px;
}

.wizard_right_content span {
  font-weight: 400;
  color: #ffffffc9;
  font-size: 16px;
}

.steps {
  margin: 40px 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.steps ul {
  margin: 0;

  padding: 0;
  list-style: none;
}

.steps ul li {
  float: left;
  color: #fff;
  padding: 0 15px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out 0;
  -moz-transition: all 0.4s ease-in-out 0;
  -ms-transition: all 0.4s ease-in-out 0;
  -otransition: all 0.4s ease-in-out 0;
  transition: all 0.4s ease-in-out 0;
}

.steps ul li:hover,
.steps ul li.active {
  color: #fff;
  font-weight: 700;
}

.steps ul li:hover span,
.steps ul li.active span {
  background: #fff;
  color: #000;
  font-weight: 700;
}

.steps ul li:hover::after,
.steps ul li.active::after {
  background: #fff;
  width: 100%;
}

.steps ul li::before,
.steps ul li::after {
  content: "";
  position: absolute;
  left: -51%;
  top: 15px;
  width: 86%;
  height: 2px;
  background: #fff;
  -webkit-transition: all 0.4s ease-in-out 0;
  -moz-transition: all 0.4s ease-in-out 0;
  -ms-transition: all 0.4s ease-in-out 0;
  -otransition: all 0.4s ease-in-out 0;
  transition: all 0.4s ease-in-out 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -otransform: translateY(-50%);
  transform: translateY(-50%);
}

.steps ul li::after {
  width: 0;
}

span.first {
  background: #fff !important;
  font-size: 15px;
  font-weight: 500 !important;
  color: #000 !important;
}

span.second {
  background: #fff !important;
  font-size: 15px;
  font-weight: 500 !important;
  color: #000 !important;
}

.steps ul li span {
  display: block;
  margin: 0 auto 15px;
  width: 30px;
  height: 30px;

  background: transparent;
  border: 2px solid #fff;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  color: #fff;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out 0;
  -moz-transition: all 0.4s ease-in-out 0;
  -ms-transition: all 0.4s ease-in-out 0;
  otransition: all 0.4s ease-in-out 0;
  transition: all 0.4s ease-in-out 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -oborder-radius: 2px;
  border-radius: 50%;
}

.steps ul li:first-child::before,
.steps ul li:first-child::after {
  display: none;
}

.form-containers {
  clear: both;

  left: 100%;
  background: #fff;
  padding: 20px 40px;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -ms-border-radius: 0px 5px 5px 0px;
  -oborder-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

.form-containers.active {
  display: block;
}

.form__time {
  text-align: initial;
}

.form-title {
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
  color: #000;
  font-weight: 700;
  font-size: 27px;
}
.timezone {
  margin-top: 15px;
}

.form-title::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 50%;
  width: 80px;
  height: 2px;
  background: linear-gradient(to right, #12d0ff, #d740ff, #d740ff);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -otransform: translateX(-50%);
  transform: translateX(-50%);
}

.form-containers input {
  width: 100%;
  padding: 7px 10px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #000000de;
  border: 0;
  background: #f8f8f8;
  border: 1px solid #0000002e;
}

.form-containers select {
  width: 100%;
  padding: 9px 10px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #000000de;
  border: 0;
  background: #f8f8f8;
  border: 1px solid #0000002e;
}

.form-containers label {
  display: inline-block;
  font-weight: 400;
  color: #000000d9;
  margin-bottom: 5px;
  font-size: 16px;
}

.form-containers img {
  max-width: 175px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px !important;
}

.form-containers p {
  font-size: 15px;
  line-height: 20px;
  max-width: 370px;
  margin: 0 auto;
  /* color: red; */
}

.form-containers ul {
  margin-top: 25px;
}

.form-containers ul li {
  font-size: 20px;
  font-weight: 700;
}

.form-group {
  margin-top:5px;
  display: flex;
  justify-content: flex-end;
}

.next-button {
  background: #000;
  color: #fff;
  padding: 12px 33px;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 600;
}

.text-area {
  width: 100%;
  padding: 7px 10px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #000000de;
  border: 0;
  background: #f8f8f8;
  border: 1px solid #0000002e;
}

@media (max-width: 767px) {}